@font-face {
  font-family: "mundial";
  src: url('./Assets/fonts/mundial/MundialRegular.otf');
}

@font-face {
  font-family: "mundial-light";
  src: url('./Assets/fonts/mundial/MundialLight.otf');
}

@font-face {
  font-family: "mundial-bold";
  src: url('./Assets/fonts/mundial/MundialBold.otf');
}

*, *::before, *::after{
  box-sizing: border-box;
}

body {
  background-color: none;
  padding: 2px;
  font-family: 'mundial';
  margin: 0;
}

.leyenda {
  border-radius: 5px;
  background-color: red;
  height: fit-content;
  width: 120px;
  border: none;
  color: #fff;
}

.text-center p {
  color: rgba(128, 128, 128, 0.582);
  font-size: 14px;
}

header {
  position: relative;
  background-image: url('./Assets/FONDO-DE-PORTADA.png');
  background-size: cover;
  background-position: center;
  height: 90vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  filter: contrast(1) brightness(2);
  padding-bottom: 10px;
}

.navbar {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  font-size: 1.5rem;
}

.navbar-nav .nav-link {
  color: white !important;
}

.navbar-nav {
  margin: auto;
  transition: 1s;
}

.navbar-brand {
  font-size: 2rem;
}

.branding {
  text-align: center;
  height: fit-content;
}

.title-large {
  font-size: 4rem;
  font-family: 'mundial-bold';
}

.title-small {
  position: relative;
  top: -14%;
  right: 1.2%;
  font-size: 0.85rem;
  color: #ff004e;
  font-family: 'mundial-light';
  text-transform: uppercase;
  letter-spacing: 0.43rem;
}

.text-small {
  font-size: 1.25rem;
}

.dropdown-menu {
  background-color: black;
  border: none;
}

.dropdown-item {
  color: white;
  position: relative;
  transition: 1s;
}

.dropdown-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: red;
}

main {
  height: fit-content;
  padding: 4rem;
}

footer {
  height: 200px;
}

.carrousellcontainer {
  display: flex;
  justify-content: center;
  background-color: none;
}

.carrousellcontainer.fade-out {
  opacity: 0;
}

.carousel {
  background-color: none;
  width: 85%;
  height: 15rem;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: flex;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 2s opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  border: solid none 2rem;
  display: block;
  width: 30%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin-right: 2rem;
  margin-left: 1rem;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: -5rem;
}

.carousel-button.next {
  right: -5rem;
}

footer {
  background-color: black;
}

.footer-container {
  display: flex;
  background-color: none;
  justify-content: space-between;
  padding: 20px;
}

.card {
  height: 120px;
  width: 49%;
  background-color: rgb(7, 41, 41);
}

.card:hover {
  background-color: #495057;
  transition: 0.5s;
}

.divider {
  background-color: #ffffff;
  border-bottom: 1px solid #5c4033;
  margin: 15px 0;
}

.enlace {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  position: relative;
  display: block;
  padding-bottom: 10px;
  width: fit-content;
}

.enlace:hover {
  color: red;
  transition: 2s;
}

hr.linea-separadora {
  color: red;
  border-radius: 1px red;
  height: 2px;
  background-color: red;
  margin: 5px 0;
  width: 350px;
}

/* Media Queries */
@media (max-width: 992px) {
  .navbar {
    position: absolute;
  }
}

@media (max-width: 768px) {
  .title-small {
    position: relative;
    top: -15%;
    right: 1.8%;
    font-size: 0.9rem;
    font-family: 'mundial-light';
    text-transform: uppercase;
    letter-spacing: 0.43rem;
  }

  .carrousellcontainer {
    display: flex;
    justify-content: flex-start;
  }

  .carousel {
    width: 100%;
    height: 30vh;
  }

  .slide {
    justify-content: space-around;
    align-items: center;
  }

  .slide > img {
    margin: 2px;
    max-width: 9rem;
    max-height: 12rem;
  }

  .carousel-button {
    font-size: 2rem;
    padding: 0 .25rem;
  }

  .carousel-button.prev {
    left: -1rem;
  }

  .carousel-button.next {
    right: -1rem;
  }
}

@media (max-width: 390px) {
  .title-small {
    position: relative;
    top: -12%;
    right: 3.2%;
    font-size: 0.9rem;
    font-family: 'mundial-light';
    text-transform: uppercase;
    letter-spacing: 0.43rem;
  }
}
