@font-face {
  font-family: "mundial";
  src: url('./Assets/fonts/mundial/MundialRegular.otf');
}
@font-face {
  font-family: "mundial-light";
  src: url('./Assets/fonts/mundial/MundialLight.otf');
}
@font-face {
  font-family: "mundial-bold";
  src: url('./Assets/fonts/mundial/MundialBold.otf');
}


body{
    background-color: none;
    padding: 2px;
    font-family: 'mundial';
    
           
}




  .leyenda{
    

    border-radius: 5px;
    background-color: red;
    height: fit-content;
    width: 120px;
    border: none;
    color: #fff;
    
    
    
  }
  .text-center p {
    color: rgba(128, 128, 128, 0.582); /* Cambia el color del texto a gris */
    font-size: 14px; /* Ajusta el tamaño de la fuente */
  }
  

  header {
    position: relative;
    background-image: url('./Assets/FONDO-DE-PORTADA.png');
    background-size: cover;
    background-position: center;
    height:90vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    filter: contrast(1) brightness(2);
    padding-bottom: 10px;
  }
  
  .navbar {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    font-size: 1.5rem;
  }
  
  .navbar-nav .nav-link {
    color: white !important;
  }
  
  .navbar-nav {
    margin: auto;
    transition: 1s;
  }
  
  .navbar-brand {
    font-size: 2rem;
  }
  #portafolioCarousel .carousel-item img {
   
  

    border-radius: 15px; /* Redondea las esquinas de las imágenes */
   
  }
  #portafolioCarousel .carousel-inner {
 
  justify-content: center; /* Centra las imágenes */
}


  
  .container-c {
    position: relative;
    padding-top: 30rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    padding-bottom: 5px;
   
    
  }
  .branding {
   
    
    text-align: center;
    
    height: fit-content;
    
  }
  
  .title-large {
    font-size: 4rem;
    font-family: 'mundial-bold' ;
   
  }
  
  .title-small {
    position: relative;
    top: -18%;
    right: 1%;
    font-size: 0.9rem;
    color: red;
    font-family: 'mundial-light';
    text-transform: uppercase;
    letter-spacing: 0.43rem;
    
  }
  
  .text-small {
    font-size: 1.25rem;
  }
  
  .dropdown-menu {
    background-color: black;
    border: none;
  }
  
  .dropdown-item {
    color: white;
    position: relative;
    transition: 1s;
  }
  
  .dropdown-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: red;
  }
  
  main {
    height: fit-content;
    padding: 10px;
  }
  
  footer {
    height: 200px;
    
  }
 
  
  @media (max-width: 992px) {
    .navbar {
      position: absolute;
    }
  }
  /* Estilos personalizados para el acordeón */
  .accordion{
    margin-left: 8%;
    margin-right: 8%;
  }
  .accordion-button {
    background-color: #141a20; /* Fondo negro para los botones */
    color: white; /* Texto blanco */
    border: 1px solid #495057; /* Borde gris oscuro */
    transition: background-color 0.3s ease; /* Transición al pasar el ratón */
  }

  /* Cambiar el color del botón cuando está colapsado */
  .accordion-button:not(.collapsed) {
    background-color: #060708; /* Fondo gris más claro cuando se expande */
    color: white;
  }

  /* Estilo del contenido expandido */
  .accordion-body {
    background-color: #080a0c; /* Fondo negro oscuro para el contenido */
    color: rgb(155, 152, 152); /* Texto blanco */
    border-top: 1px solid #495057; /* Borde superior gris */
  }

  /* Estilo cuando el acordeón está colapsado */
  .accordion-item {
    border: 1px solid #495057; /* Borde gris para cada sección */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 10px; /* Espacio entre las secciones */
  }

  .accordion-header {
    background-color: #343a40; /* Fondo negro en el encabezado */
  }

  /* Efecto de hover sobre los botones */
  .accordion-button:hover {
    background-color: #495057; /* Fondo gris cuando se pasa el ratón */
    color: white;
  }

  /* Footer Styles*/
  .footer-container{
    display: flex;
    background-color: none;
    justify-content: space-between;
    padding: 20px;
  }
  .card{
    height: 120px;
    width: 49%;
    background-color: rgb(7, 41, 41);
    
    
  }
  .card:hover{
    background-color: #495057;
    transition: 0.5s;
  }
  /* Stylos del main*/

.section-title {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}
.divider {
  background-color: #ffffff;
    border-bottom: 1px solid #5c4033;
    margin: 15px 0;
}

/* Estilo para los enlaces */
.enlace {
  text-decoration: none;
  text-transform: uppercase;    /* Convierte el texto a mayúsculas */
  color: inherit;               /* Hereda el color del texto (opcional) */
  position: relative;
  display: block;               /* Asegura que el enlace sea bloque para manipular el subrayado */
  padding-bottom: 10px;         /* Un poco de espacio debajo del enlace */
  width: fit-content;
  
}
.enlace:hover{
  color: red;
  transition: 2s;
}



hr.linea-separadora {
  color: red;
  border-radius: 1px red ;               /* Elimina el borde predeterminado */
  height: 2px;                 /* Define el grosor de la línea */
  background-color:   red;       /* Color de la línea */
  margin: 5px 0;  
  width: 350px;            /* Espacio antes y después de la línea */
}



